//Color Variables

$txt-color: hsl(0, 0%, 100%)

$footer-bg: hsl(240, 10%, 16%)

$title-color: hsl(207, 13%, 34%)

$bg-intro: linear-gradient(#ff8f70, #ff3d54)

//set base css

h1, h2, h3, h4
    font-family: Overpass
    font-weight: 600
    text-align: center
h2
    font-size: 2.2em
h3, h4
 
    color: hsl(208, 49%, 24%)
    font-size: 1.5em
    margin-bottom: 1.6em
h4
    margin: 1.6em 2.2em
    margin-bottom: 0

p
    text-align: center
    font-size: 1.2em

a
    color: none
    text-decoration: none
    &:visited
        color: white


ul
    text-align: center
    margin: 0
    padding: 0
    list-style: none
    font-weight: 600
    > li
        margin: 1.6em 0 
    ul > li
        font-weight: 300
        line-height: 30px
        margin: 0

img
    width: 100%
    max-width: 1100px
p
    font-family: Overpass
    font-weight: 300
    color: hsl(207, 13%, 34%)
    margin: 1.2em 2.4em
    font-size: 1em
    line-height: 28px

.rotate img    
    transform: rotate(180deg)

.sub-menu-open
    opacity: 1!important


//page css

body
    font-family: Ubuntu
    font-weight: 400
    font-size: 16px
    margin: 0
    overflow-x: hidden
    //background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%))

    header
        color: $txt-color
        background: 
            image: url('../img/bg-pattern-intro-mobile.svg'), linear-gradient(#ff8f70, #ff3d54)
            size: 350%
            repeat: no-repeat
            position: 34% 31%
        border-radius: 0 0 0 65px
        padding-bottom: 9em
        padding: 0 5%
        min-height: 600px
        @media (min-width: 875px)
            padding: 0 10%
        nav
            padding-top: 55px
            .nav
                display: flex
                justify-content: space-between
                a
                    display: flex
                    align-content: center
                    .icon
                        object-fit: none
        #menu
            display: none
            position: absolute
            background-color: white
            width: 85%
            top: 125px
            text-align: center
            border-radius: 10px
            -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2)
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2)
            img
                width: 10px
                margin-left: 5px
                content: url("../img/icon-arrow-dark.svg")
            #light
                display: none
            #dark
                display: block
            a
                display: flex
                justify-content: center
                align-items: center
                color: $title-color
            ul > ul
                opacity: 0
                display: none
                background-color: #efeff1
                margin: 1em
                border-radius: 5px
                padding: 1em 0
                overflow: hidden
                animation: all 5s             
            .connexion
                border-top: 1px solid #e4e4e4
                padding: 1.8em
                font-weight: 600
                #sign-up
                    display: inline-block
                    padding: 10px 30px
                    border: 1px solid linear-gradient(0.25turn, #ff8f70, #ff3d54)
                    background: linear-gradient(0.25turn, #ff8f70, #ff3d54)
                    color: white
                    border-radius: 20px
                    margin-top: 1.4em
                    &:hover
                            background: #ff7b86
        @media (min-width: 850px)
            #menu
                display: flex
                justify-content: space-between
                position: unset
                background-color: inherit
                box-shadow: none
                align-items: center
                a
                    color: white
                img
                    content: url("../img/icon-arrow-light.svg")
                #light
                    display: block
                    margin-left: 10px
                #dark
                    display: none
                ul
                    position: relative
                ul > li > a:hover
                    text-decoration: underline
                ul > ul
                    position: absolute
                    background-color: white
                    padding: 26px
                    min-width: 170px
                    margin: 0
                    left: -26px
                    li a
                        color: black
                        text-align: left
                        display: block
                        margin-bottom: 3px
                        &:hover
                            font-weight: 600
                            text-decoration: none
                .section, .connexion
                    display: flex
                    column-gap: 40px
                .connexion
                    align-items: center
                    border: 0 
                    padding: 0
                    #sign-up
                        margin-top: 0
            #menu-state
                    display: none
        

        .hero
            text-align: center
            margin: 0 1.4em
            margin-top: 25%
            @media (min-width: 875px)
                padding: 10% 0
                display: flex
                flex-direction: column
                margin-top: 0
                h2
                    font-size: 3.4em
                    margin: 0
                p
                    font-size: 1.2em
                .button
                    margin: auto
                    #cta
                        margin-right: 15px

            p
                color: white
            .button
                display: flex
                justify-content: space-evenly
                margin-top: 3.6em
                a
                    display: block
                    font-family: Ubuntu
                    font-weight: 600
                    border: 2px solid white
                    border-radius: 25px
                    padding: 10px
                    &:hover
                        color: #ff7b86
                        background-color: white 
                #cta
                    background-color: white
                    color: hsl(356, 100%, 66%)
                    &:hover
                        background-color: #ff7b86
                        color: white
                        border-color: #ff7b86
    .platform
        margin-top: 7em
        @media (min-width: 875px)

            .info
                margin-left: 10%
                > div:first-child
                    margin-bottom: 70px
            .img
                width: 200%
                img
                    position: absolute
                    width: 60%
                    top: 740px
            > div
                display: flex
                flex-direction: row-reverse
            h3
                font-size: 2.6em
            h4, p
                text-align: left
                margin-left: 0

        
        
    .infrastructure
        position: relative
        background: 
            image: url('../img/bg-pattern-circles.svg')
            color: #3b3c5b
            repeat: no-repeat
            position: -110px -250px
            size: 600px
        color: white
        border-radius: 0 80px 0 80px
        padding-top: 50%
        padding-bottom: 25%
        margin-top: 60%
        @media (min-width: 750px)
            margin-top: 20%
            padding: 0
            position: relative
            > .fakestructure
                display: flex
                justify-content: center
                padding: 6em 0 
                > div
                    flex: 1
        h2, p
            color: white
            @media (min-width: 750px)
                display: flex
                align-content: center 
                text-align: left
                margin-left: 0
        img
            max-width: 650px
            position: absolute
            top: -30%
            @media (min-width: 450px)
                width: 80%
                margin-left: 10%
            @media (min-width: 750px)
                left: 7.5%
                top: -50px
                position: absolute
                width: 40%
                margin-left: 0
            
    .free
        margin-top: 15%
        margin-right: 5%
        margin-bottom: 25%
        @media (min-width: 875px)
            display: flex
            margin-bottom: 15%
            .img
                position: relative
                width: 200%
                
                img
                    position: absolute
                    width: 140%
                    left: -250px
                    top: -120px
            .info
                > div:first-child
                    margin-bottom: 70px
                h4, p
                    text-align: left
                    margin-left: 0



    footer
        border-radius: 0 80px 0 0
        margin: 0
        background-color: $footer-bg
        color: $txt-color
        padding: 1.6em
        padding-bottom: 4.6em
        .logo-footer
            width: 30%
            margin: auto
            padding: 1.6em 0
        a
            color: white 
        @media (min-width: 875px)
            display: flex
            > ul
                display: flex
                flex: 1
                flex-direction: column
                li
                    text-align: left
            .logo-footer
                margin: 0 
                padding-right: 50px
                img
                    margin: 0 auto
                    width: 30%

    .attribution
        background-color: $footer-bg
        color: white
        text-align: center
        padding-bottom: 20px
        a
            color: white
            text-decoration: underline